html{
  height: 100%;
  
   
}

body {
  margin: 0px;
  background: url(image/imagemFundo.jpg) no-repeat ;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  
}
p {
    word-wrap: break-word ;
    max-width: 100ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tamanhoFoto {
  width: 150px;
  border: 3px solid rgb(86, 86, 219);
  border-radius: 25px;
  margin: 15px;
}

.tamanhoFoto:hover{
  color: #111; 
  background: rgb(81, 109, 233); 
  box-shadow: 0 0 100px rgb(40, 52, 116); 
}

.fotoAntes {
  width: 150px;
  opacity: 0.5;
  border-radius: 25px;
  box-shadow: 7px 7px 18px rgb(62, 63, 63)
}

.fotoAntes:hover{
  color: #111; 
  background: rgb(81, 109, 233); 
  box-shadow: 0 0 100px rgb(40, 52, 116);
   
}

#check01 {
  justify-content:right ;
  align-items: right;
}

#barraCentro {
  align-items: center;
  justify-content: center;
  min-width: 550px;
  box-shadow: 7px 7px 18px rgb(62, 63, 63)
}

#camisas {
  display: flex;
  justify-content: space-around;
  
  
}

#calcas {
  display: flex;
  justify-content: space-around;
}

#sapatos {
  display: flex;
  justify-content: space-around;
}

input[type='file'] {
  display: none;
}

label {
  cursor: pointer;
}

#paiBotao {
  display: flex;
  justify-content: center;
  width: 100%;
}

button {
  padding: 10px;
  margin-top: 10px;
  width: 80%;
  color: white;
  background-color: rgb(86, 86, 219);
  border-radius: 4px;
  border: 0;
  box-shadow: 7px 7px 18px rgb(62, 63, 63);  
}

button:hover{
  box-shadow: 7px 7px 40px rgb(40, 52, 116); 
 
  cursor: pointer; 
}

#divPai {
  display: flex;
}

#barraEsquerda {
  width: 20%;
}

#barraCentro {
  width: 60%;
  background-color: lightblue;
  border-radius: 5px;
  padding: 20px;
}

#barraDireita {
  width: 20%;
}

#rodape {
  width: 600px;
}

#combinationsButton {
  position: absolute;
  left: 0;
  width: 100px;
  height: 50px;
}